# Project exclude paths
/.gradle/
/app/.cxx/
/base/build/
/base/build/intermediates/javac/debug/classes/
.gradle
.idea
.gradle/
.idea/
*.iml
*.log
module_ui/schemas/com.xlu.module_ui.db.HomeDatabase/2.json
