/.idea/caches/build_file_checksums.ser
/.idea/libraries/Gradle__androidx_activity_activity_1_2_4_aar.xml
/.idea/libraries/Gradle__androidx_activity_activity_ktx_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_1_2_0.xml
/.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_1_3_1_aar.xml
/.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_3_1_aar.xml
/.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
/.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
/.idea/libraries/Gradle__androidx_collection_collection_ktx_1_1_0.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_0_4_aar.xml
/.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_solver_2_0_4.xml
/.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_1_6_0_aar.xml
/.idea/libraries/Gradle__androidx_core_core_ktx_1_6_0_aar.xml
/.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_customview_customview_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_databinding_databinding_adapters_4_1_3_aar.xml
/.idea/libraries/Gradle__androidx_databinding_databinding_common_4_1_3.xml
/.idea/libraries/Gradle__androidx_databinding_databinding_runtime_4_1_3_aar.xml
/.idea/libraries/Gradle__androidx_databinding_viewbinding_4_1_3_aar.xml
/.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_exifinterface_exifinterface_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_exifinterface_exifinterface_1_3_3_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_1_3_6_aar.xml
/.idea/libraries/Gradle__androidx_fragment_fragment_ktx_1_2_5_aar.xml
/.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_3_1.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_java8_2_3_1.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_ktx_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_ktx_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_ktx_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml
/.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_multidex_multidex_2_0_1_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_common_2_3_5_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_common_ktx_2_3_5_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_fragment_2_3_5_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_fragment_ktx_2_3_5_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_runtime_2_3_5_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_runtime_ktx_2_3_5_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_ui_2_3_5_aar.xml
/.idea/libraries/Gradle__androidx_navigation_navigation_ui_ktx_2_3_5_aar.xml
/.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_2_1_aar.xml
/.idea/libraries/Gradle__androidx_room_room_common_2_3_0.xml
/.idea/libraries/Gradle__androidx_room_room_ktx_2_3_0_aar.xml
/.idea/libraries/Gradle__androidx_room_room_runtime_2_3_0_aar.xml
/.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_sqlite_sqlite_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_sqlite_sqlite_framework_2_1_0_aar.xml
/.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_test_core_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_core_3_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_espresso_espresso_idling_resource_3_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_ext_junit_1_1_3_aar.xml
/.idea/libraries/Gradle__androidx_test_monitor_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_runner_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_test_services_storage_1_4_0_aar.xml
/.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
/.idea/libraries/Gradle__androidx_transition_transition_1_3_0_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
/.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
/.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
/.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
/.idea/libraries/Gradle__com_airbnb_android_lottie_3_7_0_aar.xml
/.idea/libraries/Gradle__com_alibaba_arouter_annotation_1_0_6.xml
/.idea/libraries/Gradle__com_alibaba_arouter_api_1_5_1_aar.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_annotations_4_12_0.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_disklrucache_4_12_0.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_gifdecoder_4_12_0_aar.xml
/.idea/libraries/Gradle__com_github_bumptech_glide_glide_4_12_0_aar.xml
/.idea/libraries/Gradle__com_github_CymChad_BaseRecyclerViewAdapterHelper_3_0_4_aar.xml
/.idea/libraries/Gradle__com_github_gundy_semver4j_0_16_4.xml
/.idea/libraries/Gradle__com_github_jd_alexander_LikeButton_0_2_3_aar.xml
/.idea/libraries/Gradle__com_github_lihangleo2_ShadowLayout_3_1_4_aar.xml
/.idea/libraries/Gradle__com_github_tbruyelle_rxpermissions_0_12_aar.xml
/.idea/libraries/Gradle__com_google_android_flexbox_2_0_1_aar.xml
/.idea/libraries/Gradle__com_google_android_material_material_1_4_0_aar.xml
/.idea/libraries/Gradle__com_google_auto_auto_common_1_0.xml
/.idea/libraries/Gradle__com_google_auto_service_auto_service_1_0.xml
/.idea/libraries/Gradle__com_google_auto_service_auto_service_annotations_1_0.xml
/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_3_0_2.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_6.xml
/.idea/libraries/Gradle__com_google_code_gson_gson_2_8_7.xml
/.idea/libraries/Gradle__com_google_errorprone_error_prone_annotations_2_5_1.xml
/.idea/libraries/Gradle__com_google_guava_failureaccess_1_0_1.xml
/.idea/libraries/Gradle__com_google_guava_guava_30_1_1_jre.xml
/.idea/libraries/Gradle__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
/.idea/libraries/Gradle__com_google_j2objc_j2objc_annotations_1_3.xml
/.idea/libraries/Gradle__com_jakewharton_rxbinding4_rxbinding_4_0_0_aar.xml
/.idea/libraries/Gradle__com_scwang_smart_refresh_drawable_paint_2_0_1_aar.xml
/.idea/libraries/Gradle__com_scwang_smart_refresh_footer_classics_2_0_1_aar.xml
/.idea/libraries/Gradle__com_scwang_smart_refresh_header_classics_2_0_1_aar.xml
/.idea/libraries/Gradle__com_scwang_smart_refresh_layout_kernel_2_0_3_aar.xml
/.idea/libraries/Gradle__com_squareup_curtains_curtains_1_0_1_aar.xml
/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_android_2_7_aar.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_android_core_2_7_aar.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_android_utils_2_7_aar.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_object_watcher_2_7.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_object_watcher_android_2_7_aar.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_object_watcher_android_androidx_2_7_aar.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_object_watcher_android_support_fragments_2_7_aar.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_plumber_android_2_7_aar.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_shark_2_7.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_shark_android_2_7.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_shark_graph_2_7.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_shark_hprof_2_7.xml
/.idea/libraries/Gradle__com_squareup_leakcanary_shark_log_2_7.xml
/.idea/libraries/Gradle__com_squareup_okhttp3_logging_interceptor_4_9_1.xml
/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_4_9_1.xml
/.idea/libraries/Gradle__com_squareup_okio_okio_2_10_0.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_adapter_rxjava3_2_9_0.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_9_0.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_converter_scalars_2_9_0.xml
/.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_9_0.xml
/.idea/libraries/Gradle__com_tencent_bugly_crashreport_3_3_92_aar.xml
/.idea/libraries/Gradle__com_tencent_bugly_nativecrashreport_3_9_1_aar.xml
/.idea/libraries/Gradle__com_tencent_mmkv_static_1_2_9_aar.xml
/.idea/libraries/Gradle__com_tuyenmonkey_mkloader_1_4_0_aar.xml
/.idea/libraries/Gradle__com_youth_banner_banner_2_1_0_aar.xml
/.idea/libraries/Gradle__de_undercouch_gradle_download_task_4_0_2.xml
/.idea/libraries/Gradle__gradle_api_6_5.xml
/.idea/libraries/Gradle__gradle_installation_beacon_6_5.xml
/.idea/libraries/Gradle__gradle_test_kit_6_5.xml
/.idea/libraries/Gradle__groovy_all_1_3_2_5_11.xml
/.idea/libraries/Gradle__io_coil_kt_coil_1_3_2_aar.xml
/.idea/libraries/Gradle__io_coil_kt_coil_base_1_3_2_aar.xml
/.idea/libraries/Gradle__io_coil_kt_coil_gif_1_3_2_aar.xml
/.idea/libraries/Gradle__io_coil_kt_coil_svg_1_3_2_aar.xml
/.idea/libraries/Gradle__io_coil_kt_coil_video_1_3_2_aar.xml
/.idea/libraries/Gradle__io_reactivex_rxjava2_rxandroid_2_1_1_aar.xml
/.idea/libraries/Gradle__io_reactivex_rxjava2_rxjava_2_2_18.xml
/.idea/libraries/Gradle__io_reactivex_rxjava2_rxkotlin_2_2_0.xml
/.idea/libraries/Gradle__io_reactivex_rxjava3_rxandroid_3_0_0_aar.xml
/.idea/libraries/Gradle__io_reactivex_rxjava3_rxjava_3_0_13.xml
/.idea/libraries/Gradle__javax_inject_javax_inject_1.xml
/.idea/libraries/Gradle__jp_wasabeef_glide_transformations_4_1_0_aar.xml
/.idea/libraries/Gradle__junit_junit_4_12.xml
/.idea/libraries/Gradle__junit_junit_4_13_2.xml
/.idea/libraries/Gradle__kotlin_reflect_1_3_72.xml
/.idea/libraries/Gradle__kotlin_stdlib_1_3_72.xml
/.idea/libraries/Gradle__kotlin_stdlib_common_1_3_72.xml
/.idea/libraries/Gradle__kotlin_stdlib_jdk7_1_3_72.xml
/.idea/libraries/Gradle__kotlin_stdlib_jdk8_1_3_72.xml
/.idea/libraries/Gradle__org_antlr_antlr4_runtime_4_5_2_1.xml
/.idea/libraries/Gradle__org_checkerframework_checker_qual_3_8_0.xml
/.idea/libraries/Gradle__org_greenrobot_eventbus_3_2_0.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3.xml
/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3.xml
/.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
/.idea/libraries/Gradle__org_jetbrains_intellij_deps_trove4j_1_0_20181211.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_android_extensions_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_annotation_processing_gradle_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_build_common_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_compiler_embeddable_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_compiler_runner_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_daemon_client_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_daemon_embeddable_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_gradle_plugin_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_gradle_plugin_api_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_gradle_plugin_model_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_reflect_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_script_runtime_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_scripting_common_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_scripting_compiler_embeddable_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_scripting_compiler_impl_embeddable_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_scripting_jvm_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_5_21.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_5_21.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_5_20.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_5_20.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_util_io_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_util_klib_1_4_32.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_5_1.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_1_3_8.xml
/.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_5_1.xml
/.idea/libraries/Gradle__org_reactivestreams_reactive_streams_1_0_3.xml
/.idea/modules/app/mvvm_develop.app.iml
/.idea/modules/Base/mvvm_develop.base.iml
/.idea/modules/test/mvvm_develop.module_home.iml
/.idea/modules/module_login/mvvm_develop.module_login.iml
/.idea/modules/1699910058/version.iml
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/6.5/javaCompile/classAnalysis.bin
/app/src/androidTest/java/com/example/mvvm_develop/ExampleInstrumentedTest.kt
/base/src/androidTest/java/com/example/baselibrary/ExampleInstrumentedTest.kt
/app/src/test/java/com/example/mvvm_develop/ExampleUnitTest.kt
/base/src/test/java/com/example/baselibrary/ExampleUnitTest.kt
/.gradle/6.5/executionHistory/executionHistory.bin
/.gradle/6.5/executionHistory/executionHistory.lock
/.gradle/6.5/fileContent/fileContent.lock
/.gradle/6.5/fileHashes/fileHashes.bin
/.gradle/6.5/fileHashes/fileHashes.lock
/.gradle/6.5/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/.gradle/6.5/javaCompile/jarAnalysis.bin
/.gradle/6.5/javaCompile/javaCompile.lock
/.gradle/6.5/fileChanges/last-build.bin
/local.properties
/.gradle/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/6.5/fileHashes/resourceHashesCache.bin
/.gradle/checksums/sha1-checksums.bin
/.gradle/6.5/javaCompile/taskHistory.bin
